/* REPORT table */
#report h4 {
  font-size: 20px;
  text-align: start;
  margin-left: 20px;
  color: #157080;
} 

#report .border {
  border: 3px solid #fcfdff;
  border-radius: 15px;
  box-shadow: 0 0 20px #5c6bc0;
  background-color: white;
}
#report table {
  width: 100%;
  height:200px;
  text-align: center;
 }
 #repot table thead tr {
  border-bottom: 1px solid rgb(8, 2, 2);
  padding: 10px;
}
.info , .danger , .success{
  background-color: #d1ecf1; 
  color: #0c5460;
  font-size: 19px;
}

.border {
  border: 3px solid #fcfdff;
  border-radius: 15px;
  box-shadow: 0 0 20px #5c6bc0;
  background-color: white;
}

#report {
  width: 95%;
  align-items: center;
  margin-left: 20px;
}



 #report h4 {
  font-size: 20px; 
  text-align: start;
  margin-left: 20px;
    font-weight:bold;
    letter-spacing: 1px;
}

 #repot table thead th {
  border-bottom: 1px solid rgb(8, 2, 2);
  padding: 10px;
}


.ajout-report {
  position: absolute;
  top: 505px; /* Distance du haut */
  right: 70px; /* Distance de la gauche */
  z-index: 1; /* Assure que le bouton est au-dessus du canvas */
  background-color: #d1ecf1;
  color: #0c5460;
  border: none; /* Supprimer la bordure */
 /* color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur */
  border-radius: 5px; /* Bord arrondi */
  cursor: pointer; /* Curseur */
}
