.container {
  display: flex;
  justify-content: center;
  height: 460px;
  margin-left: 20px;
}

.chat-list {
  width: 340px;
  background-color: white;
  border-radius: 5px;
}

.wrapper {
  padding: 20px;
}

.users {
  margin-bottom: 20px;
}

.users header {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.users h4 {
  font-size: 18px; 
  /*text-align: left;*/
  margin-left: 20px;
  letter-spacing: 3px;
  color:#5c6bc0;
  font-weight: bold;
}

.users_list {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.users_list a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease;
}

.users_list a:hover {
  background-color: #f0f0f0;
}

.users_list .content {
  display: flex;
  align-items: center;
}

.users_list .content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.users_list .content .details {
  flex: 1;
}

.users_list .content .details span {
  font-weight: bold;
}