<body>

  <div class="image">
      <img src="/assets/images/md.jpg" alt="Photo de centre 1">
      <div class="reg-form">
          <form method="POST" action=""> 
              <h3>Log in</h3>
          
              <p>
                  <label for="email">Email Address:</label><br>
                  <input type="email" id="email" name="email" required><br>
              </p>
          
              <p>
                  <label for="mot_de_passe">Password:</label><br>
                  <input type="password" id="mot_de_passe" name="mot_de_passe" required><br>
              </p>
          
              <button type="submit">OK</button>
          </form>
          <p>Don't have an account? <a routerLink="/signup">SIGN UP</a></p>
  </div>
  </div>

</body>

