<div class="messages mat-elevation-z5">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <div class="wrapper">
    <section class="chat_area">
      <header>
        <a routerLink="/user-list" class="back-icon"><i class="fas fa-arrow-left"></i></a>
        <img  rel="icon" src="/assets/images/eya.png" alt="" width="10" height="10">
        <div class="details">
          <span>Eya</span>
          <p>Active now</p>
        </div>
      </header>
      <div class="chat-box">
        <div class="chat incoming">
          <div class="image">
            <img rel="icon" src="/assets/images/eya.png" alt="" width="10" height="10">
          </div>
            <div class="exemple">
              <p>Bonjour</p>
            </div>
        </div>
        <div class="chat" *ngFor="let message of messages">
        
            <div class="details" [ngClass]="{'incoming': message.incoming, 'outgoing': !message.incoming}">
            <div class="details">
              <p>{{ message.content }}</p>
            </div>
          </div>
        </div>
        <div class="chat incoming">
          <div class="image">
            <img rel="icon" src="/assets/images/eya.png" alt="" width="10" height="10">
          </div>
            <div class="exemple">
              <p>ça va Bien ! 
               je veux confirmer avec vous l'heure du reunion</p>
            </div>
        </div>
        <form (ngSubmit)="sendMessage()" class="typing-area">
          <input type="text" placeholder="type a message here..." [(ngModel)]="newMessageContent" name="newMessageContent">
          <button><i class="fab fa-telegram-plane"></i></button>
        </form>
      </div>
    </section>
  </div>
</div>
