:host{
    display : flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer{
    width: 260px;
    background-color: #5c6bc0;
}

mat-drawer-container{
    height:100%;
    background-color:  whitesmoke;
}