<!--Extended table -->

<div *ngIf="selectedTab === 'extended'" class="shopping-wrapper">
  <h4 class="card-title mb-1">Achats</h4>
  <div class="shopping">
      <table class="table text-center m-0">
          <thead>
              <tr>
                  <th>Image</th>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Status</th>
                  <th>Amount (DT)</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td><img class="height-50" src="/assets/images/total.jfif" alt="image" /></td>
                  <td>Preslia 32 (TOTAL)</td>
                  <td>1</td>
                  <td><span class="badge badge-pill bg-light-primary cursor-pointer">Active</span></td>
                  <td>2.199</td>
                  <td><i class="ft-trash-2"></i></td>
              </tr>
              <tr>
                  <td><img class="height-50" src="/assets/images/mobil.jpg" alt="image" /></td>
                  <td>MOBIL : DTE 832</td>
                  <td>2</td>
                  <td><span class="badge badge-pill bg-light-danger cursor-pointer">Disabled</span></td>
                  <td>1.987</td>
                  <td><i class="ft-trash-2"></i></td>
              </tr>
              <tr>
                  <td><img class="height-50" src="/assets/images/Q8.jfif" alt="image" /></td>
                  <td>Q8 volta</td>
                  <td>1</td>
                  <td><span class="badge badge-pill bg-light-info cursor-pointer">Paused</span></td>
                  <td>2.097</td>
                  <td><i class="ft-trash-2"></i></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

<!--SHOPPING CART-->
<div *ngIf="selectedTab !== 'extended'">
<app-achat></app-achat>
<!--Report table-->
<br><br>
<app-report></app-report>
</div>