

/* New styles */

.container {
  display: flex;

}

.barchart, .tables {
  flex: 1;
}

.card-title {
  font-size: 20px; 
  padding: 10px;
}


/* Nouveaux styles */

.position {
  display: flex;
  margin-right: 200px;
}

.map, .courbe {
  flex: 1;
}

.map {
  margin-right: 15px;
}

.courbe {
  margin-left: 15px;
}
.list {
  display: flex;
  margin-top: 80px; /* Réduire la marge supérieure */
}

.list app-piechart,
.list app-user-list {
  flex: 1;
  /*margin-right: 160px; /* Réduire l'espace horizontal entre les éléments */
}



