

/* New styles */

.container {
  display: flex;
}

.barchart, .tables {
  flex: 1;
}

.map {
  flex: 1;
  margin-right: 15px; /* Espace entre la carte et le graphique */
}

.chart {
  flex: 1; /* Pour que le graphique prenne autant d'espace que la carte */
}


.card-title {
  font-size: 20px; 
  padding: 10px;
}
