
<app-cards></app-cards>
<br><br>
<div class="position">
  <app-map></app-map>

  <div class="courbe">
   <app-radial></app-radial>
  </div>
</div>
  <br><br>
<div class="container">
  <div class="barchart">
      <app-barchart></app-barchart>
  </div>
  <div class="tables">
      <app-tables [selectedTab]="selectedTab"></app-tables>
  </div></div>
  
    <div class="list">
          <app-piechart></app-piechart>
          <app-user-list></app-user-list>
          <app-weather></app-weather>
        </div>
      