.logo {
    text-align: center;
   padding: 0.1rem ;
}

.logo img {
    width: 160px;
}

.mat-sidenav {
    background-color: #14156e;
    font-size: 13px;
}

.mat-icon {
    vertical-align: center;
    margin-right: 1rem;
    font-size: 20px;
}

.mat-divider {
    border-top-width: 2px;
    border-color: rgb(204, 223, 235);
}

.mat-list-item {
    color: rgb(255, 255, 255) !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
}

.mat-list-item:hover .mat-list-item-content {
    background: #b4b4b4 !important;
}

.list-item-active {
    color: rgb(255, 255, 255) !important;
}

.list-item-active .mat-list-item-content {
    background: #060e1f !important;
}

.list-item-active .mat-list-item-content:hover {
    background: #06163b !important;
}

.mat-subheader {
    color: #c8cbe6;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
}
.mat-expansion-panel {
    background-color: #5c6bc0;
    color:#ccd2f0 !important;
    font-size: 2px;
    margin-right: 5px;
    vertical-align: center;
  }
 /* .mat-expansion-panel-header {
    background-color:#5c6bc0;
  }*/
  
  .mat-expansion-panel-header mat-icon.mat-icon-rtl {
    transform: (-8px);
  }
  
  .mat-expansion-panel-header mat-panel-title {
    color: white;
  }
  .mat-expansion-panel-header {
    background-color: #5c6bc0; /* Couleur de fond du panneau */
    color: white; /* Couleur du texte */
  }
  
  .mat-icon {
    margin-right: 8px; /* Espacement entre l'icône et le texte */
  }
  .user {
    font-size: 13px; /* Modifiez la taille de la police selon vos préférences */
}
