<mat-nav-list>
    <div class="logo">
        <img src="" alt="company logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
   
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> DASHBOARD
    </a>

   <!-- Pour Sousse -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-icon matPrefix>folder</mat-icon>
      <span class="user mt-2 d-flex align-items-center">Sousse</span>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="/Sousse/info" routerLinkActive="list-item-active">
        <mat-icon>list</mat-icon> Info
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon matPrefix>folder</mat-icon>
          <span class="user mt-2 d-flex align-items-center">TGs</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/Sousse/TGs/tg1" routerLinkActive="list-item-active">
            <mat-icon>list</mat-icon> TG1
          </a>
          <a mat-list-item routerLink="/Sousse/TGs/tg2" routerLinkActive="list-item-active">
            <mat-icon>list</mat-icon> TG2
          </a>
          
        </mat-nav-list>
        
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-expansion-panel>

  <!-- Pour Rades -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-icon matPrefix>folder</mat-icon>
      <span class="user mt-2 d-flex align-items-center">Rades</span>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="/Rades/info" routerLinkActive="list-item-active">
        <mat-icon>list</mat-icon> Info
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon matPrefix>folder</mat-icon>
          <span class="user mt-2 d-flex align-items-center">TGs</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/Rades/TGs/tg1" routerLinkActive="list-item-active">
            <mat-icon>list</mat-icon> TG1
          </a>
          <a mat-list-item routerLink="/Rades/TGs/tg2" routerLinkActive="list-item-active">
            <mat-icon>list</mat-icon> TG2
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-expansion-panel>
  
  <!-- Pour Goulette -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-icon matPrefix>folder</mat-icon>
    <span class="user mt-2 d-flex align-items-center">Goulette</span>
  </mat-expansion-panel-header>
  <mat-nav-list>
    <a mat-list-item routerLink="/Goulette/info" routerLinkActive="list-item-active">
      <mat-icon>list</mat-icon> Info
    </a>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon matPrefix>folder</mat-icon>
        <span class="user mt-2 d-flex align-items-center">TGs</span>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/Goulette/TGs/tg1" routerLinkActive="list-item-active">
          <mat-icon>list</mat-icon> TG1
        </a>
        <a mat-list-item routerLink="/Goulette/TGs/tg2" routerLinkActive="list-item-active">
          <mat-icon>list</mat-icon> TG2
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-nav-list>
</mat-expansion-panel>

 <!-- Pour Birmchergua -->
 <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-icon matPrefix>folder</mat-icon>
      <span class="user mt-2 d-flex align-items-center">Birmchergua</span>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="/Birmchergua/info" routerLinkActive="list-item-active">
        <mat-icon>list</mat-icon> Info
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon matPrefix>folder</mat-icon>
          <span class="user mt-2 d-flex align-items-center">TGs</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/Birmchergua/TGs/tg1" routerLinkActive="list-item-active">
            <mat-icon>list</mat-icon> TG1
          </a>
          <a mat-list-item routerLink="/Birmchergua/TGs/tg2" routerLinkActive="list-item-active">
            <mat-icon>list</mat-icon> TG2
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-expansion-panel>

   <!-- Pour Bouchemma -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-icon matPrefix>folder</mat-icon>
      <span class="user mt-2 d-flex align-items-center">Bouchemma </span>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="/Bouchemma/info" routerLinkActive="list-item-active">
        <mat-icon>list</mat-icon> Info
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon matPrefix>folder</mat-icon>
          <span class="user mt-2 d-flex align-items-center">TGs</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/Bouchemma/TGs/tg1" routerLinkActive="list-item-active">
            <mat-icon>list</mat-icon> TG1
          </a>
          <a mat-list-item routerLink="/Bouchemma/TGs/tg2" routerLinkActive="list-item-active">
            <mat-icon>list</mat-icon> TG2
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-expansion-panel>

   <!-- Pour Thyna -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-icon matPrefix>folder</mat-icon>
      <span class="user mt-2 d-flex align-items-center">Thyna</span>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="/Thyna/info" routerLinkActive="list-item-active">
        <mat-icon>list</mat-icon> Info
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon matPrefix>folder</mat-icon>
          <span class="user mt-2 d-flex align-items-center">TGs</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/Thyna/TGs/tg1" routerLinkActive="list-item-active">
            <mat-icon>list</mat-icon> TG1
          </a>
          <a mat-list-item routerLink="/Thyna/TGs/tg2" routerLinkActive="list-item-active">
            <mat-icon>list</mat-icon> TG2
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-expansion-panel>

   <!-- Pour Feriana -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-icon matPrefix>folder</mat-icon>
      <span class="user mt-2 d-flex align-items-center">Feriana</span>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="/Feriana/info" routerLinkActive="list-item-active">
        <mat-icon>list</mat-icon> Info
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon matPrefix>folder</mat-icon>
          <span class="user mt-2 d-flex align-items-center">TGs</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/Feriana/TGs/tg1" routerLinkActive="list-item-active">
            <mat-icon>list</mat-icon> TG1
          </a>
          <a mat-list-item routerLink="/Feriana/TGs/tg2" routerLinkActive="list-item-active">
            <mat-icon>list</mat-icon> TG2
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-expansion-panel>

</mat-nav-list>
